.Container {
  width: 500px;
  background-color: #f7f9fc;
  border-radius: 8px;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 0 5px #333;
  box-sizing: border-box;
}

.Heading {
  color: grey;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.SubmitButton {
  width: 95%;
  margin: auto;
  color: white;
  background-color: #2595ff;
  border-radius: 4px;
  box-shadow: 0 2px 3px #ccc;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.SubmitButton:active {
    background-color: #0084ff;
}

.SpinnerContainer {
  position: absolute;
  top: 0;
  right: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.ErrorMessageContainer {
  display: inline-block;
  border: 1px solid rgba(255, 0, 0, 0.05);
  background-color: rgba(255, 0, 0, 0.15);
  padding: 0.3rem 0.3rem 0.5rem 0.4rem;
  margin-top: 1rem;
  border-radius: 2px;
  cursor: default;
  box-sizing: border-box;
}

.ErrorMessageContainer .Message {
  overflow-wrap: break-word;
  font-size: 0.8rem;
  font-weight: 500;
  color: red;
}

@media only screen and (max-width: 1000px) {
  .Container {
      width: 95%;
      padding: 2rem 1.5rem 3rem 1.5rem;
  }
}