.Container {
    display: flex;
    height: 100%;
}

.NavItem {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: whitesmoke;
    padding: 0 1rem;
    cursor: default;
    box-sizing: border-box;
}

.NavItem.Active {
    background-color: #33395e;
}